{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/npm.js' %}"></script>

<ul>
    <form action= {{ request.get_full_path }} method="post" class="form-vertical" role="form">
   {% csrf_token %}
      {{ credform.as_p }}
    <button type="submit" class="btn btn-primary" name="searchbtn">Search with key word</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    {% if routelist %}
        <div class="container">
            <div class="row">
                <div class="box clearfix"> 
                     <h3>Camera shop list</h3>
                    <table class="table table-hover" id="bootstrap-table">
                        <thead>
                        <tr>
                            <th>title</th>
                            <th>price</th>
                            <th>zoom</th>
                            <th>resolution</th>
                            <th>image</th>
                            <th>features</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for route in routelist %}
                            <tr>
                                <td>{{ route.1 }}</td>
                                <td>{{ route.2 }}</td>
                                <td>{{ route.3 }}</td>
                                <td>{{ route.4 }}</td>
                                <td><img src={{ route.5 }} alt="vk.com" style="width:384px;height:256px;"></td>
                                <td>
                                    <table cellspacing="20" align="center">
                                        {% for i in route.6 %}
                                        <tr>
                                            <td>{{i.1}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                                 <td>
                                    <form action="{% url 'orderitem' route.0 %}"
                                          method="post" class="form-vertical"
                                          role="form">
                                        {% csrf_token %}
                                        <button class="btn btn-success pull-right btn-sm" type="submit"
                                                data-toggle="modal" name="routedelete">
                                            Make an order
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <p>No routes are available yet. Press the button to add first</p>
    {% endif %}

</ul>




